//for vendor prefixes
@mixin vendor($property, $parameters...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{ $prefix + $property }: $parameters;
  }
}

// for flex
@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

//for position
@mixin  position ($property,$top,$right,$bottom,$left,$index){
  position: $property;
  z-index: $index;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//for media querry 
@mixin screen($size) {
  @if $size == large-desktop {
    @media only screen and (min-width: #{$screen-xl-min}) {
      @content;
    }
  }
  @if $size == desktop {
    @media only screen and (min-width: #{$screen-lg-min}) {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and (min-width: #{$screen-md-min}) {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and (min-width: #{$screen-sm-min}) {
      @content;
    }
  }
  @else if $size == small-mobile {
    @media only screen and (min-width: #{$screen-es-min}) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width: #{$size}) {
      @content;
    }
  }
}