$primary__blue: #00aaef;
$white: #fff;
$black: #000;
$grey: #9da0b2;


//  Smartphones (portrait view)
$screen-es-min: 320px;

//  Smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 996px;

// Large tablets and desktops
$screen-xl-min: 1200px;