html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label {
  cursor: pointer;
}

input[type='button'], input[type='submit'] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf {
  *zoom: 1;
}
.cf:before {
  display: table;
  content: " ";
}
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 58.4%;
  margin: 0 auto;
}

header {
  width: 100%;
  padding-top: 19px;
  position: absolute;
  z-index: 10;
}
header .wrapper {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
header h1 {
  margin: 0 auto;
  width: 80px;
}
header p a {
  padding: 26px 0 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 996px) {
  header p a:hover {
    color: #fff;
  }
}
header p:first-child {
  order: 0;
}
@media only screen and (max-width: 768px) {
  header p:first-child {
    order: 1;
  }
}
header p:first-child a {
  font-size: 16px;
}
header p:last-child a {
  border-bottom: 2px dashed #9da0b2;
  font-size: 15px;
}
@media only screen and (min-width: 996px) {
  header p:last-child a:hover {
    border-bottom: 2px dashed #fff;
  }
}
header a {
  color: #9da0b2;
  font-weight: bold;
  text-transform: uppercase;
}

.banner {
  padding: 531px 0 27px;
  position: relative;
  background: linear-gradient(rgba(0, 170, 239, 0.5), rgba(0, 170, 239, 0.5)), url(../img/bg.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 170, 239, 0.5)), to(rgba(0, 170, 239, 0.5))), url(../img/bg.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0, 170, 239, 0.5), rgba(0, 170, 239, 0.5)), url(../img/bg.jpg) center/cover no-repeat;
}
.banner .wrapper {
  width: 55%;
}

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 996px) {
  nav ul {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: -100%;
    top: 177px;
    background-color: #00aaef;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
nav a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
@media only screen and (min-width: 996px) {
  nav a:hover {
    color: #9da0b2;
  }
}

.hambur {
  width: 25px;
  position: absolute;
  z-index: 11;
  top: 45px;
  right: 50px;
}
.hambur:hover + .menu {
  left: 0;
}
@media only screen and (min-width: 996px) {
  .hambur {
    display: none;
  }
}

h2 {
  padding: 35px 0 0;
  color: #000;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.gallery-deco {
  padding-bottom: 35px;
}
.gallery-deco figure {
  width: 160px;
  margin: 0 auto;
}

.gallery {
  margin-bottom: 25px;
}
.gallery li {
  display: block;
}
.gallery p {
  padding-bottom: 15px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
.gallery p span {
  color: #00aaef;
}
.gallery a {
  padding: 10px 15px;
  border: 1px solid #00aaef;
  margin: 0 auto;
  display: block;
  background-color: #00aaef;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 320px) {
  .gallery a {
    width: 35%;
  }
}
@media only screen and (min-width: 996px) {
  .gallery a {
    width: 11%;
  }
}
@media only screen and (min-width: 996px) {
  .gallery a:hover {
    color: #00aaef;
    background-color: #fff;
  }
}

.gallery-marina figure {
  width: 100%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 996px) {
  .gallery-marina figure {
    display: inline-block;
  }
  .gallery-marina figure:first-of-type {
    width: calc(66% - 4px);
    margin-right: 2%;
  }
  .gallery-marina figure:last-of-type {
    width: calc(32.2% - 4px);
  }
}

.gallery-edition figure {
  width: 100%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 996px) {
  .gallery-edition figure {
    display: inline-block;
  }
  .gallery-edition figure:first-of-type {
    width: calc(49% - 4px);
    margin-right: 2%;
  }
  .gallery-edition figure:last-of-type {
    width: calc(49% - 4px);
  }
}

.gallery-faena figure {
  width: 100%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 996px) {
  .gallery-faena figure {
    display: inline-block;
  }
  .gallery-faena figure:first-of-type {
    width: calc(32.2% - 4px);
    margin-right: 2%;
  }
  .gallery-faena figure:last-of-type {
    width: calc(66% - 4px);
  }
}

/*# sourceMappingURL=style.css.map */
