.banner {
  padding: 531px 0 27px;
  position: relative;
  background: linear-gradient(rgba(0,170,239,.5), rgba(0,170,239,.5)), url(../img/bg.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,170,239,.5)), to(rgba(0,170,239,.5))), url(../img/bg.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0,170,239,.5), rgba(0,170,239,.5)), url(../img/bg.jpg) center/cover no-repeat;
  .wrapper { width: 55%; }
}

nav {
  ul{
    @include flexbox;
    justify-content: space-between;
    @include screen(996px){
      @include vendor (transition, left .5s ease);
      width: 100%;
      position: absolute;
      z-index: 5;
      left: -100%;
      top: 177px;
      background-color: $primary__blue;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  a {
    color: $white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
    @include  vendor(transition,color .5s ease) ;

    &:hover{ 
      @include screen(desktop){
        color: $grey 
      }
    }
  }
}

.hambur {
  width: 25px;
  @include position (absolute,45px,50px,null,null,11);

  &:hover + .menu {
    left: 0;
  }
  @include screen(desktop){
    display: none;
  }
}