h2 {
  padding: 35px 0 0;
  color: $black;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.gallery-deco {
  padding-bottom: 35px;

  figure {
    width:160px;
    margin: 0 auto;
  }
}

.gallery {
  margin-bottom: 25px;
  li { display: block;}

  p {
    padding-bottom: 15px;
    color: $black;
    font-size: 12px;
    font-weight: bold;

    span { color: $primary__blue; }
  }

  a {
    @include screen(small-mobile){ width: 35%;}
    @include screen(desktop){ width: 11%;}    
    padding: 10px 15px;
    border: 1px solid $primary__blue;
    margin: 0 auto;
    display: block;
    background-color: $primary__blue;
    color: $white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    @include vendor (transition,all .5s ease);

    &:hover {
      @include screen(desktop){
        color: $primary__blue;
        background-color: $white;
      }
    }
  }
}

.gallery-marina {
  figure {
    width: 100%;
    padding-bottom: 10px;
    
    @include screen(desktop){
      display: inline-block;
      
      &:first-of-type { 
        width: calc(66% - 4px);
        margin-right: 2%;
      }

      &:last-of-type { width: calc(32.2% - 4px); }
    }
  }
}

.gallery-edition{
  figure {
    width: 100%;
    padding-bottom: 10px;
    
    @include screen(desktop){
      display: inline-block;
      
      &:first-of-type { 
        width: calc(49% - 4px);
        margin-right: 2%;
      }

      &:last-of-type { width: calc(49% - 4px); }
    }
  }
}

.gallery-faena {
  figure {
    width: 100%;
    padding-bottom: 10px;
    
    @include screen(desktop){
      display: inline-block;
      
      &:first-of-type { 
        width: calc(32.2% - 4px);
        margin-right: 2%;
      }

      &:last-of-type { width: calc(66% - 4px); }
    }
  }
}

