header {
  width: 100%;
  padding-top: 19px;
  position: absolute;
  z-index: 10;
  
  .wrapper{ 
    width: 60%;
    @include flexbox;
    justify-content: space-between;
    @include screen(768px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
  }

  h1 { 
    margin: 0 auto;
    width: 80px; 
  }

  p {
    a { 
      padding: 26px 0 5px; 
      @include vendor(transition,all .5s ease);
      
      &:hover { 
        @include screen (desktop){ color: $white; }
      } 
    } 

    &:first-child {
      order: 0;

      @include screen(768px){ order: 1; }
      a { font-size: 16px; }
    }

    &:last-child {
      a { 
        border-bottom: 2px dashed $grey;
        font-size: 15px;
      
      &:hover { 
        @include screen (desktop){ border-bottom: 2px dashed $white; }
        }
      }
    }
  }

  a {
    color: $grey;
    font-weight: bold;
    text-transform: uppercase;    
  }
} 